spring.application.name: config-server
server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/amine-the-boss/gestion-doc-config-repo.git
          default-label: main
          clone-on-start: true
          force-pull: true
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true